<!-- Views/Shared/_SideBar.cshtml -->
<div class="d-flex flex-column bg-dark text-white p-3" style="height: 100vh; width: 250px;">
    <h2>Sidebar</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Transactions</a>
        </li>
    </ul>
</div>
