<!-- Views/Shared/_SideBar.cshtml -->
<div class="d-flex flex-column text-white p-3" style="height: 100vh; width: 250px; background-color: #11171e">
    <h2>Sidebar</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
            <a class="nav-link text-white" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Category" asp-action="Index">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Transaction" asp-action="Index">Transactions</a>
        </li>
    </ul>
</div>
